* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

div, img, p {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}

.header__wrapper, main {
  width: 100vw;
}

.header__wrapper {
  display: flex;
  div {
    align-items: center;
  }
}

.user {
  cursor: pointer;
  &_small {
    padding: 34px 4px;
    i {
      font-size: 18px;
    }
  }
  &_standard {
    border-left: 1px solid #EBEBF1;
    width: 149px;
    justify-content: space-between;
    p {
      font-weight: 400;
      font-size: 14px;
      color: #768298;
      letter-spacing: 0.01em;
    }
  }
}

.logo {
  display: flex;
  cursor: pointer;
  width: 136px;
  justify-content: space-between;
}

.fa_user_blue {
  color: #34AADD;
}

.search {
  background: #FFFFFF;
  border: 1px solid #EBEBF1;

  &_outside-header {
    align-items: center;
    height: 42px;
  }
  &_inside-header {
    height: 40px;
    flex-grow: 1;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  input {
    border: 0;
    margin-left: 10px;
    width: 100%;
  }
  i {
    font-size: 19px;
    color: #768298;
    margin-top: 3px;
  }
  input::placeholder {
    color: #BBC4D6;
    letter-spacing: 0.03em;
  }
}

main {
  padding: 70px 0;
  h1 {
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
    color: #121920;
    text-align: left;
  }
}

.partner {
  border: 1px solid #EBEBF1;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &__box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &:hover {
    box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
  }


}

@media (max-width: 767px) {
  .header__wrapper, main {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header__wrapper {
    height: 64px;
    justify-content: space-between;
  }
  .search {
    padding-left: 20px;
    padding-right: 20px;
    &_inside-header {
      display: none;
    }
    &_outside-header {
      display: flex;
      margin: 0 -2px;
    }
    i {
      margin-left: 4px;
    }

  }

  .user {
    &_small {
      display: flex;
    }
    &_standard {
      display: none;
    }
  }

  main h1 {
    font-size: 28px;
    margin-bottom: 19px;
  }

  .partner {
    width: 100vw;
    height: 140px;
    margin: 10px 5px;
    min-width: 250px;
    &__box {
      margin-left: -5px;
      margin-right: -5px;
    }
  }

  
}

@media (min-width: 768px) and (max-width: 1279px) {

  .header__wrapper, main {
    padding-left: 19px;
    padding-right: 19px;
  }
  .header__wrapper {
    height: 80px;
  }
  .search {
    padding-left: 7px;
    padding-right: 7px;
    &_inside-header {
      display: flex;
      width: 345px;
      margin-left: 50px;
      margin-right: 50px;
    }
    &_outside-header {
      display: none;
    }

    i {
      margin-left: 4px;
    }

  }
  .user {
    &_small {
      display: none;
    }
    &_standard {
      display: flex;
      padding-left: 19px;
    }
  }

  main h1 {
    margin-left: 1px;
    font-size: 28px;
    margin-bottom: 19px;
  }

  .partner {
    width: 231px;
    height: 120px;
    margin: 10px 9px;

    &__box {
      margin-left: -9px;
      margin-right: -9px;
    }
    img {
      transform: scale(0.8);
    }
  }
}

@media (min-width: 1280px) {
  .header__wrapper, main {
    padding-left: 100px;
    padding-right: 100px;
  }

  .header__wrapper {
    height: 80px;
  }
  .search {
    &_inside-header {
      display: flex;
      margin-left: 60px;
      margin-right: 60px;
    }
    &_outside-header {
      display: none;
    }

    i {
      margin-left: 12px;
    }

  }
  .user {
    &_small {
      display: none;
    }
    &_standard {
      display: flex;
      padding-left: 20px;
    }
  }

  main h1 {
    font-size: 36px;
    margin-bottom: 15px;
  }

  .partner {
    width: 287.5px;
    height: 120px;
    margin: 14px 15px;

    &__box {
      margin-left: -15px;
      margin-right: -15px;
    }
    img {
      transform: scale(0.9);
    }
  }
}