* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__wrapper, main {
  width: 100vw;
}

.header__wrapper {
  display: flex;
  div {
    align-items: center;
  }
  .logo {
    display: flex;
    img:first-child {
      margin-right: 10px;
    }
  }
  .user {
    &__small {
      padding: 17px 0;
      i {
        font-size: 18px;
      }
    }
    &__standard {
      border-left: 1px solid #EBEBF1;
      width: 170px;
      justify-content: space-between;
      padding-left: 20px;
      p {
        font-weight: 400;
        font-size: 14px;
        color: #768298;
      }
    }
  }
}

.fa_user_blue {
  color: #34AADD;
}

.search {
  background: #FFFFFF;
  border: 1px solid #EBEBF1;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  &_out {
    align-items: center;
  }
  &_in {
    flex-grow: 1;
    border-radius: 5px;
  }
  input {
    border: 0;
    margin-left: 10px;
    width: 100%;
  }
  i {
    color: #768298;
  }
  i, input::placeholder {
    color: #BBC4D6;
  }
}

main {
  padding: 70px 0;
  h1 {
    font-weight: 500;
    font-size: 28px;
    line-height: 160%;
    text-transform: uppercase;
    color: #121920;
    text-align: left;
    margin-bottom: 10px;
  }
}

.partner {
  margin: 20px 0;
  border: 1px solid #EBEBF1;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .header__wrapper, main {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header__wrapper {
    justify-content: space-between;
  }
  .search {
    &_in {
      display: none;
    }
    &_out {
      display: flex;
      margin: 0 -2px;
    }
  }

  .user {
    &__small {
      display: flex;
    }
    &__standard {
      display: none;
    }
  }

  .partner {
    width: 100vw;
    height: 140px;
    margin-left: 5px;
    margin-right: 5px;
    &__box {
      margin-left: -5px;
      margin-right: -5px;
    }
  }

  
}

@media (min-width: 768px) and (max-width: 1279px) {
  .header__wrapper, main {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header__wrapper {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  }
  .search {
    &_in {
      display: flex;
      width: 345px;
      margin: 17px 50px;
    }
    &_out {
      display: none;
    }
  }
  .user {
    &__small {
      display: none;
    }
    &__standard {
      display: flex;
    }
  }

  .partner {
    width: 230px;
    height: 120px;
    margin-left: 9px;
    margin-right: 9px;

    &__box {
      margin-left: -9px;
      margin-right: -9px;
    }
    img {
      transform: scale(0.8);
    }
  }
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .header__wrapper, main {
    padding-left: 100px;
    padding-right: 100px;
  }
  .search {
    &_in {
      display: flex;
      margin: 17px 60px;
    }
    &_out {
      display: none;
    }
  }
  .user {
    &__small {
      display: none;
    }
    &__standard {
      display: flex;
    }
  }

  .partner {
    width: 287.5px;
    height: 120px;
    margin-left: 15px;
    margin-right: 15px;

    &__box {
      margin-left: -15px;
      margin-right: -15px;
    }
    img {
      transform: scale(0.9);
    }
  }
}